.box{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 45%;
    
}

@media only screen and (max-width: 600px) {
    .box{
        display: block;
    }
    .col {
      width: 100%;
    }
  }